 .u-section-1 {
  background-image: url("images/Minecraft-ProjectLUMA.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 753px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-style: none;
  font-weight: 700;
  align-self: center;
  margin: 425px auto 66px;
  padding: 26px 108px 27px 106px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 0% 50%;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 43.51% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 623px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 35.67% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }
}